<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ibrahimr.movieum">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Screens.AboutUs"></activity>
        <activity android:name=".Screens.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Screens.HomeScreen" />
        <activity android:name=".Screens.CategoriesResult" />
        <activity android:name=".Screens.YearResult" />
        <activity android:name=".Screens.CategoriesSearch" />
        <activity android:name=".Screens.YearSearch" />
    </application>

</manifest>